main {
    display: flex;
    justify-content: center;
}
section {
    display: flex; 
    justify-content: center;
    margin-bottom: 2rem;
}
table {
    table-layout: fixed;
    border: solid;
    padding: 1rem;
}
td {
    width: 2.5rem;
    height: 2.5rem;
    border: gray 1px solid;
    position: relative;
}
td img {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
}
#cursor {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}
.clickable {
    cursor: pointer;
}