{% extends "base_admin.html" %}
{% load static %}

{% block additional_head %}
<link rel="stylesheet" href="{% static 'css/customadmin/event/event.css' %}">
{% endblock additional_head %}


{% block content %}

<article>
    <p><a href="{% url 'customadmin:admin_event_list' %}">Go Back</a></p>

    <table class="table table-striped table-hover">
        <tr><td><span style="font-weight: bold;">Event Id: </span></td><td>{{ event.event_id }}</td></tr>
        <tr><td><span style="font-weight: bold;">Show Id: </span></td><td>{{ event.show }}</td></tr>
        <tr><td><span style="font-weight: bold;">Room Number: </span></td><td><a href="{% url 'customadmin:admin_room' event.room_number %}">{{ event.room_number }}</a></td></tr>
        <tr><td><span style="font-weight: bold;">Event Time: </span></td><td>{{ event.event_time }}</td></tr>
    </table>
    <a class="btn btn-warning" href="{% url 'customadmin:admin_event_edit' event.event_id %}" role="button">Edit</a>
    <a class="btn btn-danger" href="#" role="button">Delete</a>


</article>

{% endblock content %}