{% extends "base_admin.html" %}

{% block content %}


<h1>Events Management</h1>
<a class="btn btn-primary" href="#" role="button">New Event</a>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Event Id</th>
            <th>Show Id</th>
            <th>Room Id</th>
            <th>Event Time</th>
        </tr>
    </thead>

    <tbody>
        {% for event in events %}
            <tr>
                <th scope="row"><a href="{% url 'customadmin:admin_event' event.event_id %}">{{ event.event_id }}</a></th>
                <td>{{ event.show }}</td>
                <td>{{ event.room_number }}</td>
                <td>{{ event.event_time }}</td>
            </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock content %}