{% extends "base_admin.html" %}

{% block content %}

<style>
    article {
        text-align: center;
    }
    aside img {
        width: 25rem;
    }
    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section {
        width: 30rem;
    }
    table {
        width: 100%;
    }
    th, td {
        border: 1px solid black;
    }
</style>



<article>
    <p><a href="{% url 'customadmin:admin_show_list' %}">Go Back</a></p>

    <h1>{{ current_show.show_name }}</h1>

    <main>
        <aside>
            {% if current_show.show_banner %}
                <img src="{{ current_show.show_banner.url }}" alt="{{ current_show.show_id }}">
            {% else %}
                <p>No banner has been set.</p>
            {% endif %}
        </aside>
    
        <section>
            {{ current_show.show_description }}
            <table>
                <tr><td><span style="font-weight: bold;">Id: </span></td><td>{{ current_show.show_id }}</td></tr>
                <tr><td><span style="font-weight: bold;">Type: </span></td><td>{{ current_show.show_type }}</td></tr>
                <tr><td><span style="font-weight: bold;">Duration (min): </span></td><td>{{ current_show.show_duration }}</td></tr>
                <tr><td><span style="font-weight: bold;">Age Rating: </span></td><td>{{ current_show.show_rating }}</td></tr>
                <tr><td><span style="font-weight: bold;">Release Date: </span></td><td>{{ current_show.release_date }}</td></tr>
                <tr><td><span style="font-weight: bold;">Language: </span></td><td>{{ current_show.show_language }}</td></tr>
                <tr><td><span style="font-weight: bold;">Public: </span></td><td>{{ current_show.public }}</td></tr>
            </table>
            <p><a href="">Edit</a></p>
            <p><a href="">Delete</a></p>
        </section>    
    </main>

    <h1>Comments</h1>
    {% if show_comments %}
        <table>
            <tr>
                <th>User Id</th>
                <th>Content</th>
                <th>Comment Id</th>
                <th>Options</th>
            </tr>
            {% for comment in show_comments %}
                <tr>
                    <td><a href="{% url 'customadmin:admin_user' comment.user %}">{{ comment.user }}</a></td>
                    <td>{{ comment.comment_content }}</td>
                    <td>{{ comment.comment_id }}</td>
                    <td><a href="">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No comments on this show.</p>
    {% endif %}

    <h1>Followers: {{ followers_amount }}</h1>
    {% if show_followers %}
        <table>
            <tr>
                <th>User Id</th>
                <th>Follow Id</th>
                <th>Options</th>
            </tr>
            {% for follower in show_followers %}
                <tr>
                    <td><a href="{% url 'customadmin:admin_user' follower.user_id %}">{{ follower.user_id }}</a></td>
                    <td>{{ follower.following_id }}</td>
                    <td><a href="">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No followers.</p>
    {% endif %}

    <h1>Ratings</h1>
    {% if ratings %}
        <p>Average rating: {{ average_rating }}</p>
        <table>
            <tr>
                <th>User Id</th>
                <th>Rating Id</th>
                <th>Rating Value</th>
                <th>Options</th>
            </tr>
            {% for rating in ratings %}
                <tr>
                    <td><a href="{% url 'customadmin:admin_user' rating.user_id %}">{{ rating.user_id }}</a></td>
                    <td>{{ rating.rating_id }}</td>
                    <td>{{ rating.rating_value }}</td>
                    <td><a href="">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No ratings.</p>
    {% endif %}

</article>
{% endblock content %}