main {
    display: flex;
    justify-content: center;
}
table {
    table-layout: fixed;
    border: solid;
    padding: 1rem;
}
td {
    width: 2.5rem;
    height: 2.5rem;
}
td img {
    width: 2.5rem;
    height: 2.5rem;
}