body{
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    padding: 1em;
}

nav {
    background-color: rgb(104, 184, 138);
    padding: 1em;
    margin-bottom: 3em;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

article {
    text-align: center;
}

.clickable {
    cursor: pointer;
}