@font-face {
    font-family: 'CSMorado';
    src: url('/static/fonts/CSMorado-Regular.woff');
}

body{
    background-image: url("/static/interface/20029585_6225190.svg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'CSMorado', Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    padding: 1em;
    background-image: linear-gradient(yellow, #e39b3eff);
}

h1 img {
    height: 1em;
}

nav {
    padding: 1em;
    margin-bottom: 3em;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 25rem;
    padding-right: 25rem;
}

ul li {
    padding-left: 1em;
    padding-right: 1em;
}

nav a{
    text-decoration: none;
    font-size: x-large;
}

article {
    text-align: center;
}

.clickable {
    cursor: pointer;
}

.gold-box {
    background-color: black;
    border: solid #e39b3eff;
}

.black-background {
    background-color: black;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: white;
}