{% extends "base.html" %}
{% load static %}
{% block title %}Booking{% endblock title %}

{% block additional_js %}
    <script type="text/javascript" src="{% static 'js/booking.js' %}"></script>
{% endblock additional_js %}

{% block content %}

<style>
    main {
        display: flex;
        justify-content: center;
    }
    table {
        table-layout: fixed;
        border: solid;
        padding: 1rem;
    }
    td {
        width: 2.5rem;
        height: 2.5rem;
    }
    td img {
        width: 2.5rem;
        height: 2.5rem;
    }
</style>

<article>
    <h1>{{ event.show.show_name }}</h1>
    <p>Location: {{ room.venue_id.venue_name }}</p>
    <p>Room: {{ room.room_number }}</p>
    <p>Date: {{ event.event_time | date:'d M Y' }} </p>
    <p>Time: {{ event.event_time | date:'h:m a' }}</p>
    <p>Price: <span id="price">{{ event.price }}</span></p>
    
    <main>
        <table>
            {% for row in rows_list %}
                <tr>
                    {% for column in columns_list %}
                        <td>
                            {% for seat in seats %}
                                {% if seat.location_row == row and seat.location_column == column %}
                                    {% if seat.seat_premium %}
                                        {% if user.is_premium %}
                                            <img id="{{ seat.seat_number }}" src="{% static 'booking/premium.png' %}" alt="{{ seat.seat_number }}" class="clickable" onclick="seatClick('{{ seat.seat_number }}');">
                                        {% else %}
                                            <img id="{{ seat.seat_number }}" src="{% static 'booking/premium_booked.png' %}" alt="{{ seat.seat_number }}">
                                        {% endif %}
                                    {% elif seat.seat_accessible %}
                                        <img id="{{ seat.seat_number }}" src="{% static 'booking/accessible.png' %}" alt="{{ seat.seat_number }}" class="clickable" onclick="seatClick('{{ seat.seat_number }}');">
                                    {% else %}
                                        <img id="{{ seat.seat_number }}" src="{% static 'booking/base.png' %}" alt="{{ seat.seat_number }}" class="clickable" onclick="seatClick('{{ seat.seat_number }}');">
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <aside>
            <p>Seats selected: </p>
            <p id="seat-selected-pretty">
            <p>Total:</p>
            <p id="total-cost"></p>
        
            <form action="{% url 'shopapp:event' event.event_id %}" method="POST">
                {% csrf_token %}
                <input id="seat-input" type="hidden" name="seats" value="">
                <button type="submit">Book</button>
            </form>

        </aside>
    </main>




</article>

{% endblock content %}