{% extends "base.html" %}
{% load static %}
{% block title %}Booking{% endblock title %}

{% block additional_head %}
    <script type="text/javascript" src="{% static 'js/booking.js' %}"></script>
{% endblock additional_head %}

{% block content %}

<style>
    main {
        display: flex;
        justify-content: center;
    }
    table {
        table-layout: fixed;
        border: solid;
        padding: 1rem;
    }
    td {
        width: 2.5rem;
        height: 2.5rem;
    }
    td img {
        width: 2.5rem;
        height: 2.5rem;
    }
</style>

<script>
    var grid_rows = {{ room.room_rows }};
    var grid_columns = {{ room.room_columns }};
    var premium = {{ user.is_premium|lower }};
    var grid = [
        {% for seat in seats %}
                {
                    "number": "{{ seat.seat_number }}",
                    "premium": {{ seat.seat_premium|lower }},
                    "accessible": {{ seat.seat_accessible|lower }},
                    "location_row": {{ seat.location_row }},
                    "location_column": {{ seat.location_column }}
                },
        {% endfor %}
    ]
    var bookedSeats = [
        {% for booked_seat in booked_seats %}'{{ booked_seat.seat_number.seat_number}}',{% endfor %}
    ]
    var imgLinks = {
        "premium": "{% static 'booking/premium.png' %}",
        "premium_booked": "{% static 'booking/premium_booked.png' %}",

        "accessible": "{% static 'booking/accessible.png' %}",
        "accessible_booked": "{% static 'booking/accessible_booked.png' %}",

        "base": "{% static 'booking/base.png' %}",
        "base_booked": "{% static 'booking/base_booked.png' %}"
    }
</script>


<article>
    <h1>{{ event.show.show_name }}</h1>
    <p>Location: {{ room.venue_id.venue_name }}</p>
    <p>Room: {{ room.room_number }}</p>
    <p>Date: {{ event.event_time | date:'d M Y' }} </p>
    <p>Time: {{ event.event_time | date:'h:m a' }}</p>
    <p>Price: <span id="price">{{ event.price }}</span></p>
    
    <main>
        <table id="table">
        </table>

        <aside>
            <p>Seats selected: </p>
            <p id="seat-selected-pretty">
            <p>Total:</p>
            <p id="total-cost"></p>
        
            <form action="{% url 'shopapp:event' event.event_id %}" method="POST">
                {% csrf_token %}
                <input id="seat-input" type="hidden" name="seats" value="">
                <button type="submit">Book</button>
            </form>

        </aside>
    </main>

    <script>createGrid();</script>

</article>

{% endblock content %}