{% extends "base.html" %}
{% block title %}Trending{% endblock title %}

{% block content %}

<style>
    main {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-end;
    }
    main div {
        margin: 1rem;
    }
    main img {
        width: 10rem;
    }
</style>

<article>
    <h1>This is the trending page</h1>

    <!-- for now show all shows, later on only popular ones -->

    <main>
        {% for show in shows %}
            <div>
                <a href="{% url 'shows:show_page' show.show_id %}">
                    <img src="{{ show.show_banner.url }}" alt="{{ show.show_name }}">
                </a>
            </div>
        {% endfor %}
    </main>
</article>
{% endblock %}