{% extends "base.html" %}
{% load static %}

{% block additional_head %}
<link rel="stylesheet" href="{% static 'css/shopapp/trending.css' %}">
{% endblock additional_head %}

{% block title %}Trending{% endblock title %}

{% block content %}

<article>
    <main>
        {% for show in shows %}
            <div>
                <a href="{% url 'shows:show_page' show.show_id %}">
                    <img src="{{ show.show_banner.url }}" alt="{{ show.show_name }}">
                </a>
            </div>
        {% endfor %}
    </main>
</article>
{% endblock %}