{% extends "base_admin.html" %}

{% block content %}

<style>
    article {
        width: 50em;
        margin: auto;
        text-align: center;
    }
</style>

<article>
    <p><a href="{% url 'customadmin:admin_user_list' %}">Go Back</a></p>

    <h1>{{ current_user.username }}</h1>
    {{ current_user.profile_pic }}
    <table class="table table-striped table-hover">
        <tr><td><span style="font-weight: bold;">Email</span></td><td>{{ current_user.email }}</td></tr>
        <tr><td><span style="font-weight: bold;">Premium</span></td><td>{{ current_user.is_premium }}</td></tr>
        <tr><td><span style="font-weight: bold;">Phone</span></td><td>{{ current_user.phone }}</td></tr>
        <tr><td><span style="font-weight: bold;">Staff</span></td><td>{{ current_user.is_staff }}</td></tr>
        <tr><td><span style="font-weight: bold;">Last Login</span></td><td>{{ current_user.last_login }}</td></tr>
        <tr><td><span style="font-weight: bold;">Date Joined</span></td><td>{{ current_user.date_joined }}</td></tr>
    </table>
    <a class="btn btn-warning" href="#" role="button">Edit</a>
    <a class="btn btn-danger" href="#" role="button">Delete</a>

    
    <h1>Comments</h1>
    {% if user_comments %}
        <table class="table table-striped table-hover">
            <tr>
                <th>Show</th>
                <th>Content</th>
                <th>Comment Id</th>
                <th>Options</th>
            </tr>
            {% for comment in user_comments %}
                <tr>
                    <td><a href="{% url 'customadmin:admin_show' comment.show_id %}">{{ comment.show_id }}</a></td>
                    <td>{{ comment.comment_content }}</td>
                    <td>{{ comment.comment_id }}</td>
                    <td><a href="">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No comments made by this user.</p>
    {% endif %}

</article>
{% endblock content %}