{% extends "base_admin.html" %}
{% load static %}

{% block additional_js %}
    <script type="text/javascript" src="{% static 'js/room_editor.js' %}"></script>
{% endblock additional_js %}

{% block content %}

<style>
    main {
        display: flex;
        justify-content: center;
    }
    table {
        table-layout: fixed;
        border: solid;
        padding: 1rem;
    }
    td {
        width: 2.5rem;
        height: 2.5rem;
        border: gray 1px solid;
        position: relative;
    }
    td img {
        width: 2.5rem;
        height: 2.5rem;
        position: relative;
    }
    #cursor {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
    }
    .clickable {
        cursor: pointer;
    }
</style>

<script>
    var grid_rows = {{ room.room_rows }};
    var grid_columns = {{ room.room_columns }};
    var grid = [
        {% for seat in seats %}
                {
                    "number": "{{ seat.seat_number }}",
                    "premium": {{ seat.seat_premium|lower }},
                    "accessible": {{ seat.seat_accessible|lower }},
                    "location_row": {{ seat.location_row }},
                    "location_column": {{ seat.location_column }}
                },
        {% endfor %}
    ]
    var imgLinks = {
        "premium": "{% static 'booking/premium.png' %}",
        "accessible": "{% static 'booking/accessible.png' %}",
        "base": "{% static 'booking/base.png' %}",
        "cursor": "{% static 'booking/cursor.png' %}"
    }
</script>

<article>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'customadmin:admin_venue' room.venue_id %}">{{ room.venue_id }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ room.room_number }}</li>
        </ol>
    </nav>


    <div style="display: flex; justify-content: center;">
        <form action="{% url 'customadmin:admin_room' room.venue_id %}" method="POST">
            {% csrf_token %}
        
            Rows:<input onchange="gridChanged();" id="grid-row" type="number" min="1" value="{{ room.room_rows }}"><br>
            Columns:<input onchange="gridChanged();" id="grid-col" type="number" min="1" value="{{ room.room_columns }}"><br>
            <button type="submit" class="btn btn-warning btn-lg">Update</button>
        </form>

        <div id="modify-section" style="margin-left: 5rem;">
            <div class="mb-3">
                <label>Seat Number</label>
                <input onchange="numberInput();" type="text" class="form-control" id="number-input">
            </div>
            <div class="mb-3">
                <label>Seat Type</label>
                <select onchange="seatTypeInput();" class="form-select" id="seat-type-input">
                    <option value="base">Base</option>
                    <option value="premium">Premium</option>
                    <option value="accessible">Accessible</option>
                </select>
            </div>
            <button onclick="createSeat();" class="btn btn-success" id="create-seat">Create Seat</button>
            <button onclick="deleteSeat();" class="btn btn-danger" id="delete-seat">Delete Seat</button>
        </div>
    </div>
    


    <main>
        <table id="table" onload="refreshGrid();">
            {% for row in grid %}
                <tr>
                    {% for cell in row %}
                        <td class="clickable">
                            {% if cell != None %}
                                {% if cell.seat.seat_premium %}
                                    
                                    <img id="{{ cell.seat.seat_number }}" src="{% static 'booking/premium.png' %}" class="clickable" onclick="seatClick('{{ cell.seat.seat_number }}');">
                        
                                {% elif cell.seat.seat_accessible %}
                                    
                                    <img id="{{ cell.seat.seat_number }}" src="{% static 'booking/accessible.png' %}" class="clickable" onclick="seatClick('{{ cell.seat.seat_number }}');">
                        
                                {% else %}
                                    
                                    <img id="{{ cell.seat.seat_number }}" src="{% static 'booking/base.png' %}" class="clickable" onclick="seatClick('{{ cell.seat.seat_number }}');">
                        
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </main>
</article>



{% endblock content %}