{% extends "base_admin.html" %}
{% load static %}

{% block additional_head %}
<link rel="stylesheet" href="{% static 'css/customadmin/venue/venue.css' %}">
{% endblock additional_head %}


{% block content %}

<style>

</style>

<article>
    <p><a href="{% url 'customadmin:admin_venue_list' %}">Go Back</a></p>

    <h1>{{ venue.venue_name }}</h1>

    <table class="table table-striped table-hover">
        <tr><td><span style="font-weight: bold;">Id</span></td><td>{{ venue.venue_id }}</td></tr>
        <tr><td><span style="font-weight: bold;">Address</span></td><td>{{ venue.venue_address }}</td></tr>
        <tr><td><span style="font-weight: bold;">Accessibility</span></td><td>{{ venue.venue_accessibility }}</td></tr>
        <tr><td><span style="font-weight: bold;">Working Hours</span></td><td>{{ venue.working_hours }}</td></tr>
        <tr><td><span style="font-weight: bold;">Latitude</span></td><td>{{ venue.venue_latitude }}</td></tr>
        <tr><td><span style="font-weight: bold;">Longitude</span></td><td>{{ venue.venue_longitude }}</td></tr>
        <tr><td><span style="font-weight: bold;">Contact</span></td><td>{{ venue.venue_contact }}</td></tr>
    </table>
    <a class="btn btn-warning" href="{% url 'customadmin:admin_venue_edit' venue.venue_id %}" role="button">Edit</a>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="delete_venue" value="{{ venue.venue_id }}">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>


    <h1>Rooms</h1>

    <form method="POST">
        {% csrf_token %}
        <input class="form-control" name="create_room" placeholder="Room Number">
        <button class="btn btn-primary">New Room</button>
    </form>

    {% if rooms %}
        <table class="table table-striped table-hover">
            <tr>
                <th>Id</th>
                <th>Name/Number</th>
                <th>Rows</th>
                <th>Columns</th>
                <th>Options</th>
            </tr>
            {% for room in rooms %}
                <tr>
                    <td><a href="{% url 'customadmin:admin_room' room.room_id %}">{{ room.room_id }}</a></td>
                    <td>{{ room.room_number }}</td>
                    <td>{{ room.room_rows }}</td>
                    <td>{{ room.room_columns }}</td>
                    <td>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="delete_room" value="{{ room.room_id }}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No rooms for this venue.</p>
    {% endif %}

</article>
{% endblock content %}