{% extends "base_admin.html" %}

{% block content %}


<h1>Orders Management</h1>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Order Id</th>
            <th>User</th>
            <th>Total Charged</th>
            <th>Date Ordered</th>
        </tr>
    </thead>

    <tbody>
        {% for order in orders %}
            <tr>
                <th scope="row"><a href="{% url 'customadmin:admin_order' order.order_id %}">{{ order.order_id }}</a></th>
                <td>{{ order.user.username }}</td>
                <td>€{{ order.total|floatformat:2 }}</td>
                <td>{{ order.date_ordered }}</td>
            </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock content %}