{% extends "base_admin.html" %}
{% load static %}

{% block additional_head %}
<link rel="stylesheet" href="{% static 'css/customadmin/order/order.css' %}">
{% endblock additional_head %}


{% block content %}


<article>
    <p><a href="{% url 'customadmin:admin_order_list' %}">Go Back</a></p>

    <main>
        <section>
            <table class="table table-striped table-hover">
                <tr><td><span style="font-weight: bold;">Id</span></td><td>{{ order.order_id }}</td></tr>
                <tr><td><span style="font-weight: bold;">User</span></td><td><a href="{% url 'customadmin:admin_user' order.user %}">{{ order.user.username }}</a></td></tr>
                <tr><td><span style="font-weight: bold;">Show</span></td><td><a href="{% url 'customadmin:admin_show' seats.first.event.show_id %}">{{ seats.first.event.show_id }}</a></td></tr>
                <tr><td><span style="font-weight: bold;">Event</span></td><td><a href="{% url 'customadmin:admin_event' seats.first.event_id %}">{{ seats.first.event_id }}</a></td></tr>
                <tr><td><span style="font-weight: bold;">Total</span></td><td>€{{ order.total|floatformat:2 }}</td></tr>
                <tr><td><span style="font-weight: bold;">Date Ordered</span></td><td>{{ order.date_ordered }}</td></tr>
                <tr><td><span style="font-weight: bold;">Billing Name</span></td><td>{{ order.billing_name }}</td></tr>
                <tr><td><span style="font-weight: bold;">Billing Address</span></td><td>{{ order.billing_address }}</td></tr>
                <tr><td><span style="font-weight: bold;">Billing City</span></td><td>{{ order.billing_city }}</td></tr>
                <tr><td><span style="font-weight: bold;">Billing Postcode</span></td><td>{{ order.billing_postcode }}</td></tr>
                <tr><td><span style="font-weight: bold;">Billing Country</span></td><td>{{ order.billing_country }}</td></tr>
            </table>

            <div style="display: flex; justify-content: space-evenly;">
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="delete_order" value="{{ order.order_id }}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </section>
    </main>

    <h1>Seats Booked</h1>
    <table class="table table-striped table-hover">
        <tr>
            <th>Seat Booking Id</th>
            <th>Seat Number</th>
            <th>Booked Status</th>
        </tr>
        {% for seat in seats %}
            <tr>
                <td>{{ seat.booking_id }}</td>
                <td>{{ seat.seat_number.seat_number }}</td>
                <td>{{ seat.booked_status }}</td>
            </tr>
        {% endfor %}
    </table>


</article>
{% endblock content %}