{% extends "base.html" %}
{% block title %}{{ current_show.show_name }}{% endblock title %}

{% block content %}
<h1>{{ current_show.show_name }}</h1>
<article style="display: flex;">
    <div style="width: 75%;">
        <img src="{{ current_show.show_banner.url }}" alt="{{ current_show.show_id }}" style="width: 100%;">
    </div>
    <div>
        <p>{{ current_show.show_type }}</p>
        <p>{{ current_show.show_duration }}</p>
        <p>{{ current_show.show_description }}</p>
        <p>{{ current_show.show_agerating }}</p>
        <p>{{ current_show.show_release_date }}</p>
        <p>{{ current_show.show_language }}</p>    
    </div>

    
</article>
{% endblock %}