{% extends "base.html" %}
{% load static %}

{% block title %}{{ current_show.show_name }}{% endblock title %}

{% block additional_head %}
<link rel="stylesheet" href="{% static 'css/shows/show.css' %}">
{% endblock additional_head %}

{% block content %}

<article>
    <div>
        <aside>
            <img src="{{ current_show.show_banner.url }}" alt="{{ current_show.show_id }}">
        </aside>

        <main>
            <h1>{{ current_show.show_name }}</h1>

            <p>{{ current_show.show_description }}</p>

            <p>Rating: {{ current_show.show_agerating }}</p>
            <p>{{ current_show.show_type }}</p>

            <div>
                <div>
                    <img src="{% static 'interface/duration.svg' %}" alt="duration-icon">
                    {{ current_show.show_duration }}min
                </div>
                <div>
                    <img src="{% static 'interface/date.svg' %}" alt="date-icon">
                    {{ current_show.show_release_date }}
                </div>
                <div>
                    <img src="{% static 'interface/language.svg' %}" alt="language-icon">
                    {{ current_show.show_language }}
                </div>
            </div>

            <p>Events:</p>
            {% if events %}
                {% for event in events %}
                    <a href="{% url 'shopapp:event' event.event_id %}"><p>
                        {{ event.event_time | date:'d M Y' }} at {{ event.room_number.venue_id.venue_name }}, price € {{ event.price|floatformat:2 }}
                    </p></a>
                {% endfor %}
            {% else %}
                <p>No events for this show.</p>
            {% endif %}
        </main>
    </div>

    <h1>Comments</h1>
    {% if comments %}
        {% for comment in comments %}
                <p>{{ comment.user.username }}: {{ comment.comment_content }}</p>
        {% endfor %}
    {% else %}
        <p>No comments on this show.</p>
    {% endif %}


</article>
{% endblock %}