{% extends "base.html" %}
{% block title %}Log In{% endblock title %}

{% block content %}
<article>
    {% if user.is_authenticated %}
        <h1>Your Account</h1>
        <p>Username: <span style="font-weight: bold;">{{user.username}}</span>
            {% if user.is_staff %}
                <a href="{% url 'customadmin:admin_main' %}">(Admin)</a>
            {% endif %}
        </p>
        <p>Email: <span style="font-weight: bold;">{{user.email}}</span></p>
        <p>Phone: <span style="font-weight: bold;">{{user.phone}}</span></p>
        <p>Premium: <span style="font-weight: bold;">{{user.is_premium}}</span></p>

    {% else %}
        <h1>Log In</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <p>
            <a href="{% url 'accounts:signup' %}">Don't have an account?</a>
        </p>

    {% endif %}
    
</article>
{% endblock %}