{% extends "base.html" %}
{% load static %}

{% block additional_head %}
<link rel="stylesheet" href="{% static 'css/accounts/signup.css' %}">
{% endblock additional_head %}

{% block title %}Log In{% endblock title %}

{% block content %}

<article>
    
    {% if not user.is_authenticated %}
        <h1>Log In</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <p>
            <a href="{% url 'accounts:signup' %}">Don't have an account?</a>
        </p>
    {% else %}
        <p>You are already logged in.</p>
    {% endif %}
    
</article>
{% endblock %}