<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In/Sign Up</title>

    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <div>
        <nav class="navbar">
           <ul class="navlist">
               <li><a href="index.html">Home</a></li>
               <li><a href="venues.html">Venues</a></li>
               <li><a href="trending.html">Trending</a></li>
               <li><a href="account.html">Account</a></li>
           </ul>
        </nav>
    </div>
    <h1>Log In/Sign Up</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>
</body>
</html>