{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - TheTicketBooth</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="imgdiv">
        <img src="{% static 'images/placeholderlogo.png' %}" alt="logo" style="height: 50px;">
    </div>
    <div>
        <nav class="navbar">
            <ul class="navlist">
            <li><a href="{% url 'shopapp:home' %}">Home</a></li>
            <li><a href="">Venues</a></li>
            <li><a href="{% url 'shopapp:trending' %}">Trending</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'accounts:profile' %}">{{user.username}}</a></li>
            {% else %}
                <li><a href="{% url 'accounts:login' %}">Account</a></li>
            {% endif %}
           </ul>
        </nav>
    </div>

    {% block content %}
    {% endblock %}

</body>
</html>